@import 'tailwindcss';

:root, html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root, .wrapper {
  width: 100%;
  height: 100%;
}

.editor-left, .editor-right {
  width: 50%;
  height: 100%;
}